.appear,
.enter {
  opacity: 0;
  transform: scale(0.95);
}

.appear.appearActive,
.enter.enterActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.exit {
  opacity: 1;
  transform: scale(1);
}

.exit.exitActive {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 500ms, transform 500ms;
}
