@use "styles/variables" as vars;

.button {
  padding: 10px 25px;
  border-radius: vars.$border-radius;
  box-shadow: vars.$shadow-button;
  cursor: pointer;
  font-family: Exo, sans-serif;
  font-weight: vars.$fw-bold;
  transition: transform ease-in 3ms;
  user-select: none;

  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
  }

  &::after:not(:disabled) {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: vars.$shadow-button-active;
    content: "";
    inset: 0;
    opacity: 0;
    transition: opacity ease-in 3ms;
  }

  &:active:not(:disabled) {
    box-shadow: unset;
    transform: scale(0.95);
  }

  &:active:not(:disabled)::after {
    opacity: 1;
  }

  &.primary:disabled,
  &.secondary:disabled {
    border: none;
    background-color: vars.$c-button-disabled;
    color: vars.$c-snow-white;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &.primary {
    border: none;
    background-color: vars.$c-button-primary;
    color: vars.$c-pitch-black;

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      background-color: vars.$c-button-primary-hover;
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &.secondary {
    border: solid 2px vars.$c-snow-white;
    background-color: vars.$c-button-secondary;
    color: vars.$c-snow-white;

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      background-color: vars.$c-button-secondary-hover;
    }
  }
}
