@use "sass:map";
@use "styles/mixins";
@use "styles/variables" as vars;

.article,
.header {
  position: relative;
  z-index: vars.$z-index-content;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.25em 2em;

  // @stylelint-ignore-next-line
  background-color: rgb(0 0 0 / 50%);
  grid-column: 1/5;
  text-align: justify;
  transition-duration: 0.6s;
  transition-property: filter, opacity;
  transition-timing-function: linear;


  &.outOfViewport {
    filter: blur(100px);
    opacity: 0;
  }

  &.inViewport {
    filter: blur(0);
    opacity: 1;
  }

  a {
    @include mixins.inline-link;
  }
}

.header {
  position: relative;
  width: 100%;

  .headerText {
    position: relative;
    z-index: vars.$z-index-text-background;
    display: block;
  }
}

@include mixins.min-width("tablet") {
  .article {
    &:nth-child(7n+1) {
        grid-column: span 2;
        grid-row: span 1;
    }

    &:nth-child(7n+2) {
        grid-column: span 1;
        grid-row: span 2;
    }

    &:nth-child(7n+4) {
        grid-column: span 1;
        grid-row: span 2;
    }

    &:nth-child(7n+5) {
        grid-column: span 3;
        grid-row: span 1;
    }
  }
}
