@use "sass:map";
@use "styles/mixins.scss";
@use "styles/variables.scss" as vars;

.root {
  z-index: vars.$z-index-background;
  background-color: vars.$c-background-yellow;
}

.main {
  position: relative;
  z-index: vars.$z-index-foreground;
  height: inherit;
}

.transition {
  height: 15vh;
  background-image: linear-gradient(
    180deg,
    rgb(0 0 0 / 0%) 0%,
    rgb(132 131 131 / 100%) 95%
  );
}

.contentWrapper {
  display: flex;
  height: inherit;
  justify-content: center;

  // hide thin line
  margin-top: -1px;
  background-color: vars.$c-background-gray;
}

.content {
  @include mixins.grid-layout;

  position: relative;
  z-index: vars.$z-index-foreground;
  height: inherit;

  section p {
    position: relative;
  }
}

.sideMenuWrapper {
  position: relative;
  height: 50%;
}

.sideMenu {
  position: sticky;
}
