@use "sass:map";
@use "styles/variables.scss" as vars;

.root {
  background-color: vars.$c-warm-yellow;
}

.main {
  position: relative;
  z-index: vars.$z-index-foreground;
  height: inherit;
}

.transition {
  height: 15vh;
  background-image: linear-gradient(
    180deg,
    rgb(0 0 0 / 0%) 0%,
    rgb(132 131 131 / 100%) 95%
  );
}

.contentWrapper {
  background-color: vars.$c-moth-gray;
  height: inherit;

  // hide thin line
  margin-top: -1px;
  display: flex;
  justify-content: center;
}

.content {
  z-index: vars.$z-index-foreground;
  position: relative;
  margin: 0 20px;
  height: inherit;
  max-width: map.get(vars.$media, "max");

  section p {
    position: relative;
    z-index: vars.$z-index-content;
  }
}
