@use "sass:map";
@use "styles/mixins.scss";
@use "styles/variables.scss" as vars;

.root {
  z-index: vars.$z-index-background;
  overflow: hidden;
  background-color: vars.$c-background-yellow;
}

.main {
  position: relative;
  z-index: vars.$z-index-layout;
  height: inherit;
}

.contentWrapper {
  display: flex;
  height: inherit;
  justify-content: center;

  // hide thin line
  margin-top: -1px;
  background-color: vars.$c-background-gray;
}

.content {
  @include mixins.grid-layout;

  height: inherit;

  section p {
    position: relative;
  }
}

.sideMenuWrapper {
  position: relative;
  height: 50%;
}

.sideMenu {
  position: sticky;
}
