@use "styles/animations.scss" as anims;

.container {
  display: flex;
  margin: 0;
  user-select: none;
  white-space: pre;
}

.text {
  font-family: Exo, sans-serif;
  font-size: clamp(2rem, 1.5821rem + 1.5198vw, 4.5rem);
  font-weight: 400;
}

.cursor {
  @include anims.cursor;

  min-height: 1em;
}
