.contentWrapper {
  display: flex;
  flex-direction: column;
}

.buttonWrapper {
  display: flex;
}

.wrapper {
  padding-inline: 1.5em;

  .buttonWrapper {
    &:not(:first-child) {
      margin-block-start: 20px;
    }
  }
}

.link {
  composes: link from "../LinkButton/linkButton.module.scss";
}

.button {
  composes: button from "../LinkButton/linkButton.module.scss";
}

.buttonText {
  composes: buttonText from "../LinkButton/linkButton.module.scss";
}
