.contentWrapper {
  display: flex;
  flex-direction: column;
}

.buttonWrapper {
  display: flex;
}

.wrapper {
  .buttonWrapper {
    &:not(:first-child) {
      margin-block-start: 20px;
    }
  }
}

.button {
  composes: button from "../LinkButton/linkButton.module.scss";
}
