@use "sass:map";
@use "styles/mixins";
@use "styles/variables" as vars;

.section,
.header {
  position: relative;
  z-index: vars.$z-index-content;
}

.section {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  transition-duration: 0.6s;
  transition-property: filter, opacity;
  transition-timing-function: linear;

  > :not(h2)::before {
    position: absolute;
    top: -22%;
    width: 80%;
    height: 150%;
    box-sizing: content-box;
    background-color: black;
    content: "";
    opacity: 0.2;
  }

  &.left {
    grid-column: 1/5;

    > :not(h2)::before {
      left: -2%;
    }
  }

  &.right {
    grid-column: 1/5;

    > :not(h2)::before {
      right: -2%;
    }
  }

  &.outOfViewport {
    filter: blur(100px);
    opacity: 0;
  }

  &.inViewport {
    filter: blur(0);
    opacity: 1;
  }
}

.header {
  width: 100%;

  &::before {
    position: absolute;
    z-index: vars.$z-index-text-background;
    top: -50%;
    left: -5%;
    display: block;
    width: 50%;
    height: clamp(50%, 200%, 75px);
    background-color: #ffca1e;
    content: "";
    opacity: 0.4;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  .headerText {
    position: relative;
    z-index: vars.$z-index-content;
  }
}

@include mixins.min-width(map.get(vars.$media, "tablet")) {
  .section {
    &.left {
      grid-column: 1/7;
    }

    &.right {
      grid-column: 4/9;
    }
  }
}

@include mixins.min-width(map.get(vars.$media, "desktop")) {
  .section {
    > :not(h2)::before {
      top: -22%;
      width: 80%;
      height: 200%;
    }

    &.left {
      grid-column: 1/10;
    }

    &.right {
      grid-column: 6/13;
    }
  }

  .header {
    &::before {
      top: -50%;
      left: -5%;
      width: 50%;
      height: clamp(50%, 200%, 150px);
    }
  }
}
