@use "variables.scss" as vars;

.controlGroup {
  position: relative;
  display: flex;
  flex-direction: column;
}

.control {
  border: solid 2px vars.$c-transparent;
}

.error {
  border: solid 2px vars.$c-error;
}
