@use "styles/variables" as vars;
@use "styles/mixins";

.main {
  margin-block: vars.$spacing-mobile;
}

.postsList {
  display: grid;
  gap: vars.$spacing-large;
  grid-column: 1/-1;
  grid-row: 2;
}

.postCard {
  grid-column: 1/5;
  grid-column: auto;
}

.tagsListWrapper {
  grid-column: 1/-1;
  grid-row: 1;
  margin-block-end: vars.$spacing-large;
  margin-block-start: vars.$spacing-extra-large;
  margin-inline: auto;
}

@include mixins.min-width("tablet") {
  .postsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mixins.min-width("desktop") {
  .main {
    margin-block: vars.$spacing-desktop;
  }

  .postsList {
    grid-template-columns: repeat(3, 1fr);
  }

  .tagsList {
    max-width: 80%;
  }
}
