@use "styles/variables" as vars;
@use "styles/mixins";

.layoutContentWrapper {
  height: 100%;
}

.layoutContentContainer {
  display: flex;
  flex-direction: column;
  margin-block: vars.$spacing-mobile;
}

.postsListSection {
  @include mixins.grid;

  height: 100%;
}

.loader {
  align-self: center;
  margin-top: -10%;
  grid-column: 1/-1;
  justify-self: center;
}

.postsList {
  display: grid;
  gap: vars.$spacing-large;
  grid-column: 1/-1;
  grid-row: 2;
}

.postCard {
  grid-column: 1/5;
  grid-column: auto;
}

.tagsListWrapper {
  grid-column: 1/-1;
  grid-row: 1;
  margin-block-end: vars.$spacing-large;
  margin-block-start: vars.$spacing-extra-large;
  margin-inline: auto;
}

@include mixins.min-width("tablet") {
  .postsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mixins.min-width("desktop") {
  .layoutContentContainer {
    margin-block: vars.$spacing-desktop;
  }

  .postsList {
    grid-template-columns: repeat(3, 1fr);
  }

  .tagsList {
    max-width: 80%;
  }
}
