@use "styles/variables" as vars;
@use "styles/mixins";

.layoutContentWrapper {
  height: 100%;
}

.layoutContentContainer {
  display: flex;
  flex-direction: column;
  margin-block: vars.$spacing-extra-large;
}

.postsListSection {
  @include mixins.grid;

  position: relative;
  height: 100%;
  grid-auto-rows: min-content;
}

.loader,
.noResults {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.noResults {
  margin: 0;
}

.postsList {
  display: grid;
  gap: vars.$spacing-large;
  grid-column: 1/-1;
}

.postCard {
  grid-column: 1/5;
  grid-column: auto;
}

.tagsListWrapper {
  grid-column: 1/-1;
  grid-row: 1;
  margin-block-end: vars.$spacing-large;
  margin-inline: auto;
}

@include mixins.min-width("tablet") {
  .postsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mixins.min-width("desktop") {
  .layoutContentContainer {
    margin-block: vars.$spacing-desktop;
  }

  .postsList {
    grid-template-columns: repeat(3, 1fr);
  }

  .tagsList {
    max-width: 80%;
  }
}
