@use "sass:map";
@use "styles/mixins.scss";
@use "styles/variables.scss" as vars;

$z-index-header: 2;
$z-index-paragraph: 1;

.section {
  grid-column: 1/5;
  @include mixins.page-spacing;

  margin-block-start: -13vh;

  a {
    @include mixins.inline-link;
  }
}

.portrait {
  position: relative;
  top: 7vh;
  max-height: 500px;
  margin: 0 auto;
  filter: drop-shadow(vars.$shadow-generic);
  object-fit: contain;
  @include mixins.not-selectable;
}

.content {
  position: relative;
  z-index: vars.$z-index-content;

  &::before {
    @include mixins.black-background;

    width: 120%;
    height: 110%;
    opacity: 0.9;
  }

  .subheader {
    position: relative;
    z-index: $z-index-header;
    color: vars.$c-snow-white-80;

    &::before {
      @include mixins.yellow-background;
    }
  }

  .paragraph {
    position: relative;
    z-index: $z-index-paragraph;

    .paragraphText {
      position: relative;
      z-index: 1;
    }
  }

  button {
    position: relative;
    z-index: 100;
  }
}

@include mixins.min-width("tablet") {
  .section {
    grid-column: 2 / 8;
  }

  .portrait {
    max-height: 800px;
  }

  .content {
    &::before {
      height: 120%;
    }
  }
}

@include mixins.min-width("desktop") {
  .section {
    grid-column: 2 / 12;
  }
}
