@use "sass:map";
@use "styles/mixins.scss";
@use "styles/variables.scss" as vars;

$z-index-header: 2;
$z-index-paragraph: 1;

.section {
  grid-column: 1/5;
  margin-block-end: 10vh;
  margin-block-start: -13vh;
}

.portrait {
  position: relative;
  top: 7vh;
  max-height: 500px;
  object-fit: contain;
}

.content {
  position: relative;
  z-index: vars.$z-index-content;

  .subheader {
    position: relative;
    z-index: $z-index-header;
    color: vars.$c-pitch-black;

    &::before {
      @include mixins.yellow-background(
        -5%,
        50%,
        vars.$g-yellow-subheader-about
      );
    }
  }

  .paragraph {
    position: relative;
    z-index: $z-index-paragraph;

    &::before {
      @include mixins.black-background;

      opacity: 0.9;
    }

    .paragraphText {
      position: relative;
      z-index: 1;
    }
  }

  button {
    position: relative;
    z-index: 100;
  }
}

@include mixins.min-width("tablet") {
  .section {
    grid-column: 2 / 8;
  }

  .portrait {
    max-height: 800px;
  }
}

@include mixins.min-width("desktop") {
  .section {
    grid-column: 2 / 12;
  }
}
