@use "styles/mixins.scss";
@use "styles/variables.scss" as vars;

.section {
  position: relative;
  z-index: 1;
  @include mixins.page-spacing;

  grid-column: 1/-1;

  &::before {
    @include mixins.black-background;

    z-index: -1;
    height: 80%;
    margin-block-start: vars.$spacing-large;
  }
}

.heading {
  position: relative;
  margin-block-end: vars.$spacing-extra-large;

  .subheading {
    position: relative;
    left: 10%;
  }

  &::before {
    @include mixins.yellow-background;
  }
}

@include mixins.min-width("tablet") {
  .section {
    grid-column: 2 / 8;
  }
}

@include mixins.min-width("desktop") {
  .section {
    grid-column: 4 / 10;
  }
}
