@use "styles/mixins.scss";

.section {
  @include mixins.page-spacing;

  grid-column: 1/-1;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;

  .formGroup {
    display: flex;
    flex-direction: column;

    > * {
      margin-block-end: 2rem;
    }
  }

  label {
    display: flex;
    flex-direction: column;

    .text {
      margin-block-end: 1rem;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 1rem;
  }

  textarea {
    resize: none;
  }

  button[type="submit"] {
    margin-block-start: 5rem;
  }
}

@include mixins.min-width("tablet") {
  .section {
    grid-column: 2 / 8;
  }
}

@include mixins.min-width("desktop") {
  .section {
    grid-column: 4 / 10;
  }

  .form {
    .formGroup {
      width: 100%;
      flex-direction: row;
      column-gap: 2rem;

      > * {
        flex: 1;
      }
    }

    input {
      flex-grow: 1;
    }
  }
}
