@use "styles/variables.scss" as vars;

.navbar {
  position: fixed;
  z-index: vars.$z-index-navbar;
  top: 0;
  left: 0;
  width: 100%;
  height: vars.$navbar-height;
  background-color: vars.$c-background-yellow;
}

.navList {
  display: flex;
  height: 100%;
  list-style-type: none;

  .horizontal {
    align-items: center;
    justify-content: space-evenly;
  }

  .vertical {
    flex-direction: column;
  }
}
