@use "sass:map";
@use "styles/mixins.scss";
@use "styles/variables.scss" as vars;

$logo-height: calc(vars.$navbar-height - 2 * vars.$spacing-small);
$horizontal-list-max-gap: 50px;

.navbar {
  position: fixed;
  z-index: vars.$z-index-navbar;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: vars.$navbar-height;
  justify-content: center;
  padding: vars.$spacing-small;
  margin: 0 vars.$spacing-mobile;
  background-color: vars.$c-background-yellow;
  transition: top ease-in 0.3s;

  &.hidden {
    top: calc(0px - vars.$navbar-height);
  }
}

.navbarContent {
  display: flex;
  width: 100%;
  max-width: map.get(vars.$media, "max");
  height: 100%;
  align-items: center;

  .homeRoute {
    .logo {
      height: $logo-height;
      max-height: 100%;
      @include mixins.hoverable-icon(
        fill,
        vars.$c-link-active,
        transform,
        rotate(360deg)
      );
    }
  }
}

.navigationList {
  display: flex;
  height: 100%;
  padding: 0;
  list-style-type: none;

  &.horizontal {
    align-items: center;
    justify-content: space-evenly;
    margin-left: 2vw;
    column-gap: clamp(1vw, 3vw, $horizontal-list-max-gap);
  }

  &.vertical {
    flex-direction: column;
  }
}

.navigationItemLink {
  font-family: Exo, sans-serif;
  font-size: vars.$fs-desktop-navigation-item;
  font-weight: vars.$fw-bold;
  letter-spacing: 0.5rem;
  text-transform: uppercase;

  &.undelineOnHover {
    @include mixins.underline-on-hover;
  }
}

@include mixins.min-width(map.get(vars.$media, "laptop")) {
  .navbar {
    margin: 0 vars.$spacing-desktop;
  }
}
