@use "styles/variables.scss" as vars;
@use "styles/animations.scss" as anims;

$fs-heading: 9rem;
$fs-subheading: 4.5rem;

.header {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: vars.$c-warm-yellow;
}

.headingContainer {
  position: fixed;
  z-index: vars.$z-index-heading;
  margin-left: 10%;
  user-select: none;
}

.heading {
  font-family: Teko, sans-serif;
  font-size: $fs-heading;
  line-height: 1.2;
  margin: 0;
}

.subheading {
  font-family: Exo, sans-serif;
  font-size: $fs-subheading;
  @include anims.typewriter;
}
