@use "sass:map";
@use "styles/variables.scss" as vars;
@use "styles/animations.scss" as anims;

.container {
  background-color: vars.$c-warm-yellow;
}

.header {
  max-width: map.get(vars.$media, "max");
  margin: 0 auto;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: vars.$c-warm-yellow;
}

.headingContainer {
  position: fixed;
  max-width: 80%;
  z-index: vars.$z-index-heading;
  margin: 0 10%;
  user-select: none;
}

.heading {
  font-family: Teko, sans-serif;
  font-size: clamp(5rem, 4.3313rem + 2.4316vw, 9rem);
  line-height: 1.2;
  margin: 0;
}

.subheading {
  font-family: Exo, sans-serif;
  font-size: clamp(2rem, 1.5821rem + 1.5198vw, 4.5rem);
  @include anims.typewriter;
}
