@use "./variables.scss" as vars;

@mixin typewriter(
  $textAnimationDuration: 4s,
  $textAnimationSteps: 29,
  $cursorAnimationDuration: 600ms
) {
  width: auto;
  overflow: hidden;
  animation: animated-text $textAnimationDuration
      steps($textAnimationSteps, end) 1s 1 normal both,
    animated-cursor $cursorAnimationDuration steps(29, end) infinite;
  letter-spacing: 0.18rem;
  border-right: solid 3px vars.$c-pitch-black;
  white-space: nowrap;

  @keyframes animated-text {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  @keyframes animated-cursor {
    from {
      border-right-color: vars.$c-pitch-black;
    }

    to {
      border-right-color: transparent;
    }
  }
}
