/* stylelint-disable selector-id-pattern */
@use "sass:map";
@use "variables.scss" as vars;
@use "mixins.scss";
@import "reset";
@import "hamburgers/hamburgers";

html {
  font-size: 62.5%;
}

body {
  min-width: map.get(vars.$media, "min");
  min-height: 100vh;
  background-color: vars.$c-background-yellow;
  color: vars.$c-font;
  font-family: Mitr, sans-serif;
  font-size: vars.$fs-mobile-body;
  overflow-x: hidden;
}

#__next {
  background-color: vars.$c-warm-yellow;
}

html,
body,
div#__next,
div#layout {
  height: 100%;
}

h1,
h2,
h3 {
  font-family: Mitr, sans-serif;
}

h1 {
  font-size: vars.$fs-mobile-h1;
}

h2 {
  font-size: vars.$fs-mobile-h2;
  font-weight: vars.$fw-normal;
}

h3 {
  font-size: vars.$fs-mobile-h3;
  font-weight: vars.$fw-normal;
}

@include mixins.min-width("desktop") {
  body {
    font-size: vars.$fs-desktop-body;
  }

  h1 {
    font-size: vars.$fs-desktop-h1;
  }

  h2 {
    font-size: vars.$fs-desktop-h2;
    font-weight: vars.$fw-bold;
  }

  h3 {
    font-size: vars.$fs-desktop-h3;
    font-weight: vars.$fw-bold;
  }
}

a {
  position: relative;
  color: inherit;
  font-weight: vars.$fw-medium;
  text-decoration: none;
  @include mixins.link-transition;

  &:hover,
  &:focus {
    color: vars.$c-link-active;
    cursor: pointer;
  }
}

// scrollbar
::-webkit-scrollbar {
  width: 8px;

  &-track {
    background: vars.$c-warm-yellow;
  }

  &-thumb {
    width: 4px;
    border: 1px solid vars.$c-warm-yellow;
    background: vars.$c-snow-white-80;
  }
}

@supports (scrollbar-color: vars.$c-snow-white-80 vars.$c-warm-yellow) {
  * {
    scrollbar-color: vars.$c-snow-white-80 vars.$c-warm-yellow;
    scrollbar-width: thin;
  }
}

/* stylelint-disable selector-class-pattern */
.ReactModal__Body--open {
  overflow: hidden;
}
/* stylelint-enable selector-class-pattern */

.overflowHidden {
  overflow: hidden;
}
