@use "./variables.scss" as vars;

@mixin min-width($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin underline-on-hover($underline-color: vars.$c-link-active) {
  position: relative;

  &::after {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $underline-color;
    content: "";
    @include link-transition(width);
  }

  &:hover,
  &:focus {
    &::after {
      width: 100%;
    }
  }
}

@mixin link-transition($transition-property: color) {
  transition: $transition-property ease-in 0.3s;
}

@mixin hoverable-icon(
  $transition-property: fill,
  $transition-value: vars.$c-link-active,
  $secondary-transition-property: null,
  $secondary-transition-value: null
) {
  @if $secondary-transition-property and $secondary-transition-value {
    transition: $transition-property, $secondary-transition-property;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;

    &:hover,
    &:focus {
      #{$transition-property}: $transition-value;
      #{$secondary-transition-property}: $secondary-transition-value;
    }
  } @else {
    @include link-transition($transition-property);

    &:hover,
    &:focus {
      #{$transition-property}: $transition-value;
    }
  }
}
