@use "sass:map";
@use "./variables.scss" as vars;

@mixin min-width($size) {
  @media screen and (min-width: map.get(vars.$media, $size)) {
    @content;
  }
}

@mixin underline-on-hover($underline-color: vars.$c-link-active) {
  position: relative;

  &::after {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $underline-color;
    content: "";
    @include link-transition(width);
  }

  &:hover,
  &:focus {
    &::after {
      width: 100%;
    }
  }
}

@mixin link-transition($transition-property: color) {
  transition: $transition-property ease-in 0.3s;
}

@mixin hoverable-icon(
  $transition-property: fill,
  $transition-value: vars.$c-link-active,
  $secondary-transition-property: null,
  $secondary-transition-value: null
) {
  @if $secondary-transition-property and $secondary-transition-value {
    transition: $transition-property, $secondary-transition-property;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;

    &:hover,
    &:focus {
      #{$transition-property}: $transition-value;
      #{$secondary-transition-property}: $secondary-transition-value;
    }
  } @else {
    @include link-transition($transition-property);

    &:hover,
    &:focus {
      #{$transition-property}: $transition-value;
    }
  }
}

@mixin grid-layout() {
  display: grid;
  max-width: map.get(vars.$media, "max");
  margin: 0 vars.$spacing-gutters-mobile;
  gap: vars.$spacing-grid-gap-mobile;
  grid-template-columns: repeat(4, 1fr);

  @include min-width("tablet") {
    grid-template-columns: repeat(8, 1fr);
  }

  @include min-width("desktop") {
    margin: 0 vars.$spacing-gutters-desktop;
    gap: vars.$spacing-grid-gap-desktop;
    grid-template-columns: repeat(12, 1fr);
  }
}

@mixin yellow-background($xPosition: -5%, $yPosition: 50%) {
  position: absolute;
  z-index: vars.$z-index-background;
  top: $yPosition;
  left: $xPosition;
  width: 100%;
  height: 150%;
  background: vars.$g-yellow-subheader;
  content: "";
  transform: translateY(-$yPosition);
}

@mixin black-background() {
  position: absolute;
  z-index: vars.$z-index-background;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  background-color: vars.$c-pitch-black;
  content: "";
  filter: blur(1.5px);
  opacity: 0.2;
  transform: translate(-50%, -50%);
}
