// breakpoints
$min-width: 320px;
$max-width: 1920px;
$media: (
  min: $min-width,
  tablet: 768px,
  desktop: 1366px,
  max: $max-width,
);

// z-index
$z-index-background: -1;
$z-index-foreground: 2;
$z-index-gear: 3;
$z-index-heading: 4;
$z-index-footer: 4;
$z-index-text-background: 4;
$z-index-layout: 5;
$z-index-content: 5;
$z-index-navbar: 6;
$z-index-modal: 999;

/* font */
// weight
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 600;

// size
$fs-caption: clamp(1.28rem, 0.14vw + 1.24rem, 1.5rem);
$fs-text: clamp(1.6rem, 0.25vw + 1.52rem, 2rem);
$fs-h3: clamp(2rem, 0.42vw + 1.87rem, 2.67rem);
$fs-h2: clamp(2.5rem, 0.66vw + 2.29rem, 3.55rem);
$fs-h1: clamp(3.13rem, 1.01vw + 2.8rem, 4.74rem);
$fs-mobile-navigation-item: 2.5rem;
$fs-desktop-navigation-item: 1.7rem;
$fs-mobile-cookie-bar-content: 1.8rem;
$fs-desktop-cookie-bar-content: 2.1rem;
$fs-blog-content: clamp(2rem, 0.13vw + 1.96rem, 2.2rem);
$fs-blog-code: clamp(1.4rem, 0.25vw + 1.32rem, 1.8rem);

// colors
$c-spider-gray: #222;
$c-area-51-gray: #515151;
$c-moth-gray: #848383;
$c-gru-gray: #b5b5b5;
$c-warm-yellow: #deb204;
$c-vanilla-yellow: #ffeb54;
$c-pitch-black: #000;
$c-pitch-black-75: #000000bf;
$c-dirty-brown: #6c4317;
$c-snow-white: #fff;
$c-snow-white-80: #fffd;
$c-error: #f33;
$c-black-20: rgb(0 0 0 / 20%);
$c-black-40: rgb(0 0 0 / 40%);
$c-black-90: rgb(0 0 0 / 90%);
$c-transparent: rgb(0 0 0 / 0%);
$c-background-yellow: $c-warm-yellow;
$c-background-gray: $c-spider-gray;
$c-link: $c-vanilla-yellow;
$c-link-active: $c-snow-white;
$c-font: $c-snow-white;
$c-heading-font: $c-pitch-black;
$c-footer-font: $c-pitch-black;
$c-button-disabled: gray;
$c-button-primary: $c-warm-yellow;
$c-button-primary-hover: #fc0;
$c-button-secondary: $c-black-20;
$c-button-secondary-hover: $c-black-40;

// gradients
$g-yellow-subheader: linear-gradient(
  90deg,
  rgb(255 202 30 / 50%) 35%,
  rgb(0 0 0 / 0%) 100%
);
$g-yellow-subheader-reverted: linear-gradient(
  90deg,
  rgb(0 0 0 / 0%) 35%,
  rgb(255 202 30 / 50%) 100%
);
$g-yellow-subheader-about: linear-gradient(
  90deg,
  rgb(255 202 30 / 80%) 50%,
  rgb(0 0 0 / 0%) 100%
);
$g-black-background: linear-gradient(
  270deg,
  rgb(0 0 0 / 20%) 35%,
  rgb(0 0 0 / 0%) 100%
);

// shadows
$shadow-button: 4px 4px 16px 4px rgba(0 0 0 / 50%);
$shadow-button-active: 4px 4px 16px -4px rgba(0 0 0 / 50%);
$shadow-generic: 1px 1px 3px $c-pitch-black;
$shadow-generic-75: 1px 1px 3px $c-pitch-black-75;

// spacings
$spacing-extra-small: 0.25rem; // 4px;
$spacing-small: 0.5rem; // 8px
$spacing-medium: 1rem; // 16px
$spacing-large: 2rem; // 32px
$spacing-extra-large: 3rem; // 48px
$spacing-mobile: $spacing-medium;
$spacing-desktop: $spacing-large;
$spacing-gutters-desktop: $spacing-large;
$spacing-gutters-mobile: $spacing-medium;
$spacing-grid-gap-desktop: 1.25rem; // 20px
$spacing-grid-gap-mobile: 0.625rem; // 10px
$spacing-page: 10vh;

// components
$navbar-height: 64px;

// modal
$modal-close-timeout-ms: 300;
$border-radius: 4px;

// blog post
$blog-post-spacing: 2em;
