// breakpoints
$min-width: 320px;
$max-width: 1920px;
$media: (
  min: $min-width,
  tablet: 768px,
  desktop: 1366px,
  max: $max-width,
);

// z-index
$z-index-background: -1;
$z-index-foreground: 2;
$z-index-gear: 3;
$z-index-heading: 4;
$z-index-footer: 4;
$z-index-text-background: 4;
$z-index-layout: 5;
$z-index-content: 5;
$z-index-navbar: 6;
$z-index-modal: 999;

/* font */
// weight
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 600;

// size desktop
$fs-desktop-body: 1.8rem;
$fs-desktop-secondary: 1.6rem;
$fs-desktop-input: 1.8rem;
$fs-desktop-h1: 3.5rem;
$fs-desktop-h2: 3rem;
$fs-desktop-h3: 2.5rem;
$fs-desktop-navigation-item: 1.7rem;

// size mobile
$fs-mobile-body: 1.6rem;
$fs-mobile-secondary: 1.4rem;
$fs-mobile-input: 1.6rem;
$fs-mobile-h1: 2.1rem;
$fs-mobile-h2: 1.8rem;
$fs-mobile-h3: 1.6rem;
$fs-mobile-navigation-item: 2.5rem;

// colors
$c-spider-gray: #222;
$c-area-51-gray: #515151;
$c-moth-gray: #848383;
$c-gru-gray: #b5b5b5;
$c-warm-yellow: #deb204;
$c-vanilla-yellow: #ffeb54;
$c-pitch-black: #000;
$c-dirty-brown: #6c4317;
$c-snow-white: #fff;
$c-black-20: rgb(0 0 0 / 20%);
$c-black-40: rgb(0 0 0 / 40%);
$c-background-yellow: $c-warm-yellow;
$c-background-gray: $c-spider-gray;
$c-link-active: $c-snow-white;
$c-font: $c-gru-gray;
$c-heading-font: $c-pitch-black;
$c-footer-font: $c-pitch-black;
$c-button-primary: $c-warm-yellow;
$c-button-primary-hover: #b28f00;
$c-button-secondary: $c-black-20;
$c-button-secondary-hover: $c-black-40;

// gradients
$g-yellow-subheader: linear-gradient(
  90deg,
  rgb(255 202 30 / 50%) 35%,
  rgb(0 0 0 / 0%) 100%
);
$g-yellow-subheader-about: linear-gradient(
  90deg,
  rgb(255 202 30 / 80%) 50%,
  rgb(0 0 0 / 0%) 100%
);
$g-black-background: linear-gradient(
  270deg,
  rgb(0 0 0 / 20%) 35%,
  rgb(0 0 0 / 0%) 100%
);

// shadows
$shadow-button: 8px 8px 24px 0 rgba(0 0 0 / 100%);
$shadow-button-hover: 8px 8px 24px -5px rgba(0 0 0 / 100%);
$shadow-button-active: 8px 8px 24px -20px rgba(0 0 0 / 100%);

// spacings
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;
$spacing-mobile: $spacing-medium;
$spacing-desktop: $spacing-large;
$spacing-gutters-desktop: $spacing-large;
$spacing-gutters-mobile: $spacing-medium;
$spacing-grid-gap-desktop: 20px;
$spacing-grid-gap-mobile: 10px;

// components
$navbar-height: 64px;

// modal
$modal-close-timeout-ms: 300;
$border-radius: 4px;
