@use "styles/mixins.scss";

$icon-size: 24px;
$desktop-icon-size: 32px;

.link {
  .icon {
    width: $icon-size;
    height: $icon-size;

    @include mixins.hoverable-icon(filter, brightness(0) invert(1));
  }
}

@include mixins.min-width("desktop") {
  .link {
    .icon {
      width: $desktop-icon-size;
      height: $desktop-icon-size;
    }
  }
}
